.container {
  width: 50%;
  margin: 0 auto;
}

.box {
  background: #f5f6f9;
  padding: 2.5rem;
  width: 100%;
  font-family: 'Open Sans',Arial,sans-serif;
  border-left: #fe4a1d solid 10px;
}

.input-container {
  display: flex;
  margin-bottom: 2rem;
  box-sizing: border-box;
}

input {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px;
  outline-color: #fe4a1d;
  font-size: 16px;
  padding: 15px 0;
  text-indent: 15px;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.label-container {
  padding: .5rem 0;
  font-weight: 400;
  font-size: 16px;
}

.label {
  border-bottom: 1px dotted #fe4a1d;
  font-family: 'Open Sans',Arial,sans-serif;
  cursor: help;
}

.output {
  text-align: center;
  color: #fe4a1d;
  margin: 0 1.5rem;
  font-family: 'Open Sans',Arial,sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 1;
}

.times-symbol {
  width: 220px;
  font-size: 20px;
  line-height: 1.2;
  padding: 10px;
  border-radius: 3px;
  z-index: 1;
}

.max-inputs,
.avg-inputs {
  padding: 0 2rem;
  text-align: center;
  display: flex;
}

.bracket-left,
.bracket-right {
  border-color: #fe4a1d!important;
  border: 5px solid #e6e9f0;
  width: 10px;
  margin: 0 20px;
}

.bracket-left {
  border-right-width: 0;
}

.bracket-right {
  border-left-width: 0;
}

.minus-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 5px;
}

.minus {
  font-size: 2rem;
}

.btn {
  text-align: center;
  margin-top: 1rem;
}

/* tooltip styles */

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 25%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}